# This is a template for your local environment variables.
# Copy this file to .env and adjust the values.

# Your local user and group IDs (Run 'id -u' and 'id -g' in terminal)
UID=1000
GID=1000

# Display settings (Usually auto-filled by your shell)
DISPLAY=:0
WAYLAND_DISPLAY=wayland-0